.questions-container {
    padding: 15px;

    .add-new-question{
        display: flex;
    }
    .question-title {
        width: 90%;
        .q-main {
            padding-top: 7px;
        }
    }
    .form-group {
        max-width: 35%;
    }
    .title {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 600;
    }
    .questions-content {
        display: flex;
        gap: 25px;
        align-items: center;
        align-self: center;
        position: relative;

        .description {
            width: 60%;
        }
        .group-upload {
            .label-upload {
               margin-right: 5px;
               cursor: pointer;
               color: grey;
               font-size: 25px;

               &:hover {
                color: black;
               }
            }
        }
        .btn-add {
            // padding-top: 18px;
            display: flex;
            gap: 10px;
            .icon-add {
                font-size: 25px;
                color: #414141;
                cursor: pointer;
            }
            .icon-remove {
                font-size: 25px;
                color: #414141;
                cursor: pointer;
            }
        }
    }
    .answer-content {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 10px;

        .iscorrect {
            font-size: 20px;
        }
        .anwser-name {
            width: 50%;
        }
        .btn-group {
            .icon-add {
                font-size: 30px;
                color: #414141;
                cursor: pointer;
            }
            .icon-remove {
                font-size: 30px;
                color: #414141;
                cursor: pointer;
                margin-left: 10px;
            }

        }

    }
}



